body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: /*100px*/ auto;
}
header {
background: /*-moz-linear-gradient(green, blue, red)*/ lightgreen;
grid-column: 1 / 5;
/* grid-row: 1 / 3; */
}
.container {
    display: flex;
    justify-content: center;
}
.container a {
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 28px;
    color: white;
}
article {
    background: magenta;
}
main {
    background: rgb(212, 0, 255);
    grid-column: 2/4;
}

