body {
    margin: 0;
    
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: /*100px*/ auto;
}
/* color palette link https://mycolor.space/?hex=%2388E188&sub=1*/
header {
background: /*-moz-linear-gradient(green, blue, red)*/ #88e188 /*#004eb6*/; 
grid-column: 1 / 9;
/* grid-row: 1 / 3; */
}
.container {
    display: flex;
    justify-content: center;
}
.container a {
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 28px;
    color: white;
}
article {
    background: #00c6ff;
}
.articleLeft {
    grid-column: 1/2;
}
.articleRight {
    grid-column: 8/9;
}
main {
    /*background: rgb(212, 0, 255);*/
    background: #dbf9d8;
    grid-column: 2/8;
    grid-row: 2;
    text-align: center;
}
footer {
    grid-column: 1/9;
    background: #88e188;
}

.pizzaSubmitButton {
    background: #00c6ff;
}
